#autoconf
*.cache

#vim
*.swp
*.swo

#objects
*.o
*.lo

#cscope
**/*cscope.files
**/*cscope.out

#latex
output/doc/*

*.bin
.ycm_extra_conf.pyc
/autoscan.log
config.log
config.status
**/*vgcore*

#cmake
build/
build-linux/
build-windows/
target

#ctags
tags

#cargo
/target
**/*.rs.bk
Cargo.lock

#node
**/*/node_modules
node_modules

#sqlite
**/*/test.db
test.db

compile_commands.json
.clangd
